body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #d7d7d7;
}


.animation {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.start-btn {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.game-container {
    position: relative;
    width: 100%;
    //max-width: 800px;
    height: 100vh; 		/* Set height to 100% of the viewport height */
    margin: 0 auto;
}

.word-rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.word {
    position: absolute;
    left: 0;
    animation: fall linear infinite;
}

.frozen {
    color: blue;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.sky {

  position: absolute;
  //border: solid green;
  top: 6%;
  width: 98%;
  lift: 1%;

}

.ground {

  position: absolute;
  //border: solid green;
  bottom: 16%;
  width: 98%;
  lift: 1%;

}

textarea {
    position: absolute;
    left: 5%;
    bottom: 3%;
    width: 90%;
    height: 10%;
    font-size: 16px;
    z-index: 1; 	/* Ensure textarea is on top of other elements */
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth) parameter for transparency */

}

.score {
    margin-top: 10px;
    font-size: 18px;
    position: relative; /* Add relative positioning to the score container */
    display: inline-block; /* Ensure the score container takes only the necessary width */
}

#score {

    color: "red";

}


#pauseButton {
    position: absolute; /* Use absolute positioning to position the button relative to the score container */
    top: 0;
    right: 20px; /* Adjust the right position based on your preference */
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-image: url('pause.png');
}

#pauseIcon {
    display: inline-block;
    width: 4%; /* Adjust the width of the icon */
    height: 4%; /* Adjust the height of the icon */
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the icon covers the specified dimensions */
}

#pauseButton:hover #pauseIcon {
    filter: brightness(1.2); /* Add a brightness effect on hover */
}

